<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap" rel="stylesheet">
    <style>
        .list-group{
    max-height: 150px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
    </style>


<link rel="stylesheet" media="all" href="../styles/setup.css">
    <link rel="stylesheet" media="all" href="../styles/says.css">
    <link rel="stylesheet" media="all" href="../styles/reply.css">
    <link rel="stylesheet" media="all" href="../styles/typing.css">
    <link rel="stylesheet" media="all" href="../styles/input.css">


        <script src="/js/home.js"></script>
    <script src="/js/signOut.js"></script>
</head>
<body>
    {{>login_nav}}

    <section class="mt-auto">
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center" style="margin-top: 19vh; margin-bottom:15vh;">
                <div class="col-4">
                    <div class="card " style="width: 25rem; margin-left:3vh;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <img src="/img/m.png" class="card-img-top" alt="..." style="height: 200px;width:200px; margin-top: 2rem;margin-left:6rem">
                        <div class="card-body">
                            <hr>
                            <centre>
                            <h2 class="card-title" style="align-content: center;">Hey There!</h1>
                            <p class="card-text">Ready to fix some problems?</p>
                            </centre>
                            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="card " style="width: 70rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <div class="card-body">
                            <p class="card-text">
                                <div class="panel panel-primary" id="complaints">
                                    <div class="panel-heading"><h3 class="panel-title">Service requests</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group" id="complaintsList">
                                                                                 
                                        </ul>
                                    </div>
                                </div>
                            </p>
                            <a href="/complaints" class="btn btn-primary">View All</a>
                        </div>
                    </div>





                    <div class="card" style="width: 70rem; margin-top:1vh; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <div class="card-body">
                            <p class="card-text">
                                <div class="panel panel-primary" id="orders">
                                    <div class="panel-heading"><h3 class="panel-title">Your Orders</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group" id="ordersList">
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </p>
                            <a href="/ordersPage" class="btn btn-primary">Order Food</a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
          </section>
    
    
</body>
</html>