<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    {{>refs}}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
</head>


<body>
    {{>no_login_nav}}

    <div class="container-fluid" style="justify-content: center">
        <div class="row">
            <div class="col-4" style="padding-left: 3rem; padding-right:3rem; margin-left:20rem; margin-right:10rem">
                <strong><h1 class="display-4" style="color:#c5c6c7 ; font-family: 'Open Sans', sans-serif;">
                    Tired of waiting?
                </h1></strong>
                <p class="lead text-justify" style="color:#c5c6c7 ; padding-top:3rem; padding-right:3rem;font-family: 'Open Sans', sans-serif;">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus laborum tempore aliquam mollitia sint facilis omnis perspiciatis minima tenetur. Officiis at dignissimos nostrum ullam? Magnam, suscipit. Nostrum delectus quaerat reprehenderit..
                </p>
            </div>
            
            <div class="col" style="float: right ; margin-right:20rem; padding-right: 3rem">
            <img src="https://placekitten.com/340/280">
            </div>
        </div>
    </div>
   
</body>
</html>