<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    {{>refs}}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        .container-mod{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 50px;
        }
        .circular-image{
            border-radius: 50%
        }
        .custom-card{
            background-color: #1f2833;
            color: #c5c6c7;
        }
        .center{
            
  
  margin-left: 33rem;
  margin-top: 14rem;

        }
        
    </style>
</head>


<body>
    {{>loged_in_nav}}

    <div class="container center container-mod">
        <div class = "row text-center ">
            
           

            <div class = "col">   
                
                <div class="card custom-card" style="width: 18rem;">
                    <div class="p-4">
                        <img src="https://placekitten.com/340/280" alt="food" class="p card-img-top circular-image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">A hot lunch awaits</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/food" class="btn btn-primary">Place Order.</a>
                    </div>
                </div>
            </div>


            <div class = "col ">
               
                <div class="card custom-card" style="width: 18rem;">
                    <div class="p-4">
                        <img src="/img/m.png" alt="User_picture" class="p card-img-top circular-image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hey XYZ, Here's what we know about you :)</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class = "col">  
                
                <div class="card custom-card" style="width: 18rem;">
                    <div class="p-4">
                        <img src="https://placekitten.com/340/280" alt="services" class="p card-img-top circular-image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Something broken again?</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/complaints" class="btn btn-primary">Request Sevice</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</body>
</html>